<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus elit quam, accumsan non vehicula sit amet, ultricies non sem. Donec elementum ultricies leo a egestas.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus elit quam, accumsan non vehicula sit amet, ultricies non sem. Donec elementum ultricies leo a egestas.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus elit quam, accumsan non vehicula sit amet, ultricies non sem. Donec elementum ultricies leo a egestas.</p>
    </div>

<%- include('./partials/footer.ejs') %>    
</body>
</html>